body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-container input[type="number"] {
    padding: 10px;
    width: calc(100% - 80px);
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.table-container {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    overflow-y: auto;
    text-align: left;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table-container th {
    background-color: #007bff;
    color: white;
}
.credits {
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 14px;
}